{% extends './core/base.html' %}

{% block title %} Gk Data Barang {% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Data Barang2</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Samping Data</a></li>
          <li class="breadcrumb-item active">Samping Data Barang</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="col-2">
          <button type="button" class="btn btn-block btn-primary"
            data-toggle="modal" data-target="#tambah-datac">Tambah
            Data Yuk</button>
        </div>
        <br>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Daftar Barang Anda</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Aksi</th>
                  <th>Nama Barang</th>
                  <th>Kategori</th>
                  <th>Barcode</th>
                  <th>Stock(s)</th>
                  <th>Satuan</th>
                  <th>Harga Beli</th>
                  <th>Harga Jual</th>
                  <th>Supplier</th>
              

                </tr>
              </thead>
              <tbody>
                {%for barang, kategori in data %}
                <tr>
                  <td>
                    <a
                      href="edit-data-barang/{{barang.id_data_barang}}"
                      type="button" class="btn btn-block btn-warning"><i
                        class="fas fa-solid fa-pencil"></i></a>
                    <a
                      href="delete-data-barang/{{barang.id_data_barang}}"
                      type="button" class="btn btn-block btn-danger"><i
                        class="fas fa-solid fa-trash"></i></a>

                  </td>
                  <td>{{ barang.nama_barang}}</td>
                  <td>{{ kategori.nama_kategori}}</td>
                  <td>{{ barang.barcode}}</td>
                  <td>{{ barang.stok}}</td>
                  <td>{{ barang.satuan}}</td>
                  <td>{{ barang.harga_beli }}</td>
                  <td>{{ barang.harga_jual}}</td>
                  <td>{{ barang.supplier}}</td>
                  
                </tr>
                {% endfor %}

              </tbody>

            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>


<div class="modal fade" id="tambah-datac">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tambah Data3</h4>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/tambah-data-barang" method="post">
        <div class="modal-body">
          <div class="col-sm-6">
            <!-- select -->
            <div class="form-group">
              <label>Nama Barang</label>
              <select name="nama_barang" class="form-control">
                {%for namaBarang in namaBarang%}
                <option value="{{namaBarang.toJson()['id_data_barang']}}">{{namaBarang.toJson()['nama_barang']}}</option>
                {%endfor%}
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <!-- select -->
          <div class="form-group">
            <label>Kategori</label>
            <select name="kategori" class="form-control">
              {%for kategori in dataKategori%}
              <option value="{{kategori.toJson()['id_data_kategori']}}">{{kategori.toJson()['nama_kategori']}}</option>
              {%endfor%}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="barcode">Barcode</label>
          <input type="text" class="form-control" name="barcode"
            placeholder="Barcode">
        </div>
        <div class="form-group">
          <label for="stok">Stok</label>
          <input type="text" class="form-control" name="stok"
            placeholder="Stok">
        </div>
        <div class="form-group">
          <label for="satuan">Satuan</label>
          <input type="text" class="form-control" name="satuan"
            placeholder="Satuan">
        </div>
        <div class="form-group">
          <label for="harga-beli">Harga Beli</label>
          <input type="text" class="form-control" name="harga_beli"
            placeholder="Harga Beli">
        </div>

        <div class="form-group">
          <label for="harga-jual">Harga Jual</label>
          <input type="text" class="form-control" name="harga_jual"
            placeholder="Harga Jual">
        </div>

        <div class="form-group">
          <label for="diskon">Diskon</label>
          <input type="text" class="form-control" name="diskon"
            placeholder="Diskon">
        </div>

        <div class="form-group">
          <label for="total">Total</label>
          <input type="text" class="form-control" name="total"
            placeholder="Total">
        </div>
        <div class="col-sm-6">
          <!-- select -->
          <div class="form-group">
            <label>Supplier</label>
            <select name="supplier" class="form-control">
              {%for supplier in dataSupplier%}
              <option value="{{supplier.toJson()['id_data_supplier']}}">{{supplier.toJson()['nama_supplier']}}</option>
              {%endfor%}
            </select>
          </div>
        </div>


        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{% endblock %}
